* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

#showingcase {
    background-image: url('../img/Restaurant.jpg');
    border-radius: 4px;
    opacity: 0.7;
    background-size: cover 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    color: black;
    line-height: 1.2;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
    color: black;
    line-height: 1.2;
    margin-bottom: 10px;
}

#showingcase h1 {
    font-size: 50px;
    color: black;
    line-height: 1.2;
    margin-bottom: 30px;
}

#showingcase p {
    font-size: 20px;
    color: black;
    line-height: 1.2;
    margin-bottom: 30px;
}

#showingcase .button {
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

    #showingcase .button:hover {
        background: #926239;
        color: #fff;
    }

#section-a {
    padding: 20px;
    border-radius: 4px;
    background-color: gray;
    color: #fff;
    text-align: center;
}

    #section-a > p {
        padding: 10px;
        color: #fff;
        text-align: center;
    }

#section-b {
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}

#section-c {
    display: flex;
}

    #section-c div {
        padding: 20px;
    }

    #section-c .box-1, #section-c .box-3 {
        background: #926239;
        color: #fff;
    }

    #section-c .box-2 {
        background: #f9f9f9;
    }



.subscribe-button {
    overflow: hidden;
    background-color: rgb(162, 159, 159);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
    vertical-align: top;
    text-decoration: none;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.5;
}

.navbar {
    overflow: hidden;
    background-color: rgb(162, 159, 159);
    padding: 10px 30px 0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 6px;
    margin-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    transition: opacity 0.15s;
    vertical-align: top;
}

    .navbar a {
        float: left;
        font-size: 18px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .navbar a:hover {
            background-color: grey;
            border-radius: 6px;
        }

.show {
    display: block;
}


